.textRotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.textRotateSrOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.textRotateWord {
  display: inline-flex;
}

.textRotateLines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textRotateElement {
  display: inline-block;
}

.textRotateSpace {
  white-space: pre;
}

